<header xmlns:th="http://www.thymeleaf.org"
        xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4"
        lang="en">
    <nav class="navbar navbar-expand-lg re-background navbar-light rounded mb-5">
        <th:block sec:authorize="isAnonymous()">
            <a class="navbar-brand brush-script text-white" th:href="@{/}">Online Grocery Store</a>
        </th:block>
        <th:block sec:authorize="isAuthenticated()">
            <a class="navbar-brand brush-script text-white" th:href="@{/home}">Grocery</a>
        </th:block>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        
        <div class="collapse navbar-collapse text-white" id="navbarSupportedContent">
         <!--RIGHT SIDE-->
            <ul class="navbar-nav float-right pr-5">

                <!--isAnonymous-->
                <th:block sec:authorize="isAnonymous()">
                    <li class="nav-item">
                        <a class="nav-link nav-link-white active text-white" th:href="@{/login}"><i
                                class="fas fa-sign-in-alt"></i> Login</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link nav-link-white active text-white" th:href="@{/register}"><i
                                class="fas fa-user-plus"></i> Register</a>
                    </li>
                </th:block>
                </ul>
        </div>
     </nav>
     </header>